# SPDX-License-Identifier: MPL-2.0
# VeriSimDB Code Owners
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @hyperpolymath
/rust-core/ @hyperpolymath
/elixir-orchestration/ @hyperpolymath
/src/vql/ @hyperpolymath
/container/ @hyperpolymath
/.github/ @hyperpolymath
